<div class="w-[85%] flex flex-wrap mx-auto">
    <div class="w-full">
        <div
            class="text-center flex justify-center items-center flex-col text-4xl text-slate-600 font-bold relative pb-[45px]"
        >
            <h2>Feature Products</h2>
            <div class="w-[100px] h-[2px] bg-[#059473] mt-4"></div>
        </div>
    </div>
    <div
        class="w-full grid grid-cols-4 md-lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-6"
    >
        @for (product of $products(); track product._id; let idx = $index) {
        <div
            class="border group transition-all duration-500 hover:shadow-md hover:-mt-3"
        >
            <div class="relative overflow-hidden">
                @if (product.discount) {
                <div
                    class="flex justify-center items-center absolute text-white w-[38px] h-[38px] rounded-full bg-red-500 font-semibold text-xs left-2 top-2"
                >
                    {{ product.discount }}%
                </div>
                } @else { '' }
                <img
                    class="sm:w-full w-full h-[240px]"
                    [src]="product.images[0]"
                    alt=""
                />
                <ul
                    class="flex transition-all duration-700 -bottom-10 justify-center items-center gap-2 absolute w-full group-hover:bottom-3"
                >
                    <li
                        class="w-[38px] h-[38px] cursor-pointer bg-white flex justify-center items-center rounded-full hover:bg-[#059473] hover:text-white hover:rotate-[720deg] transition-all"
                        (click)="addWishlist(product)"
                    >
                        <fa-icon [icon]="faHeart"></fa-icon>
                    </li>

                    <a
                        [routerLink]="['/product/details', product.slug]"
                        class="w-[38px] h-[38px] cursor-pointer bg-white flex justify-center items-center rounded-full hover:bg-[#059473] hover:text-white hover:rotate-[720deg] transition-all"
                    >
                        <fa-icon [icon]="faEye"></fa-icon>
                    </a>

                    <li
                        class="w-[38px] h-[38px] cursor-pointer bg-white flex justify-center items-center rounded-full hover:bg-[#059473] hover:text-white hover:rotate-[720deg] transition-all"
                        (click)="addCard(product._id)"
                    >
                        <fa-icon [icon]="faShoppingCart"></fa-icon>
                    </li>
                </ul>
            </div>
            <div class="py-3 text-slate-600 px-2">
                <h2 class="font-bold">{{ product.name }}</h2>
                <div class="flex justify-start items-center gap-3">
                    <span class="text-md font-semibold">{{
                        product.price | currency
                    }}</span>
                    <div class="flex">
                        <app-rating [$ratings]="product.rating" />
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
</div>
